h1{
    color: red;
    text-align: center; 
    text-decoration-line: underline;

}

body{
    background-color: cornsilk;
}
.estilo{
    color: black; 
    text-align: left;
    text-decoration-line: none;
}

p.texto {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    color: black;
}

p.texto2 {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
    color: red;
}

.imagen{
    width: 300px;
    height: 300px;   
}

table.datos{
    border-collapse: collapse;
    border: 2px solid crimson;
    letter-spacing: 5px;
    font-size: 25px;
    margin: 0 auto;
}
 td,th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }